.container {
    display: flex;
    padding: 20px;
    width: 60%;
    margin: auto;
}

.image {
    flex: 1;
    margin-right: 20px;
}

.values {
    flex: 1;
}

.label {
    background-color: #fefefe;
    padding: 10px;
}

.value {
    background-color: #aaa;
    padding: 10px;
}

.container img {
    max-width: 100%;
    height: auto;
}
