<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>

    <div class="card" id="movies-component">
        <h3>HTTP movies API</h3>
        <div class="sort-movies">
            <button class="sort-btn" @click="sortMovies('id')">Sort by Title</button>
            <button class="sort-btn" @click="getMovies(movie.id)">Add</button>
            <div class="movies-wrapper">
                <div class="movie" v-for="movie of movies">
                    <a :href="'details.html?id='+ movie.id">
                        <img v-bind:src="`${resourcesApi}/${movie.img}`" /></a>
                    <div class="details">
                        <a :href="'details.html?id='+ movie.id">{{ movie.name }}</a>
                        <span>{{movie.year}}</span>
                        <span class="type">{{movie.type}}</span>
                    </div>
                    <!-- <div class="button">
                        <button @click="getMovies(movie.id)">Add</button>
                        <button @click="deleteMovie(movie.id)">Delete</button>
                        <a :href="'update.html?id='+ movie.id" target="_self">Update</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="card chat" id="chat-component">
        <h3>WS API (Socket id: {{ socketId }})</h3>
        <p v-for="message of messages">
            {{ message }}
        </p>
        <input v-model="message"><button v-on:click="send()">Send</button>
    </div>

    <!-- External libraries -->
    <script src="../libs/axios.js"></script>
    <script src="../libs/vue.js"></script>
    <script src="../libs/socket.io.js"></script>
    <script src="../libs/rxjs.js"></script>

    <!-- Custom code -->
    <script src="../ws/ws-service.js"></script>
    <script src="../control/auth-guard.js"></script>

    <script src="../control/movies-component.js"></script>
    <script src="../control/chat-component.js"></script>
</body>

</html>